* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.wrapper {
    margin-top: -5em;

}

/*@keyframes bgcolor {
    0% {background-color: #45a3e5}
    30% {background-color: #66bf39}
    60% {background-color: #eb670f}
    90% {background-color: #f35}
    100% {background-color: #864cbf}
} not into this right now. Go for minimal UI.*/

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    background-color: #AAFFA9;
}

#head {
    font-size: 60px;
    padding-top: 3em;
    padding-bottom: 35px;
    text-align: center;
}

#h2 {
    text-align: center;
}

#h4 {
    text-align: center;
    padding-top: 2rem;
}

.form {
    text-align: center;
}

#text { /*perfcard UI :)*/
    margin: 5em auto;
    text-align: center;
    width: 15%;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px 0 #979797;
    border-radius: 8px;
    padding: .5em;

}

input[placeholder] {
    text-align: center;
}

input[type=text]:focus{
    border-color:dodgerBlue;
    box-shadow:0 0 8px 0 dodgerBlue;
}

button {
    padding-top: 1em;
}

#reset,
#button {
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    padding-top: 1em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 #979797;
}

#button:hover, #reset:hover {
    box-shadow: 0 6px 16px 0 #979797;
    transition: ease-in .2s;
    background-color: #717e2a;
    color: #ffffff;
}

textarea {
    font-size: 18px;
}

.answer {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    display: none;
    padding-bottom: 1em;
}

i {
    margin: 0;
    padding-top: 16px;
    color: #000000;
    padding-right: 1%;
}

i:hover {
    color: #5d5e60; 
}

#textcss {
    font-size: 20px;
  }
  
  .signature {
    padding-top: 5em;
    text-align: center;
    color: #000000;
  }
  
  #my-name a{
    color: #000000;
    text-decoration: none;
  }
  
  #my-name a:hover {
    color: #9aa347;
    transition: .4s ease-out;
}
